# Homework 2
Radley Ciego
September 20, 2022
GTECH 78518: Environmental Data Science

## Excercise 1

In [5]:
precip = 4.83

In [6]:
 print(precip)

4.83

In [7]:
# define string using '' or ""
city = 'New York'

In [8]:
print(city)

New York

In [9]:
print(type(precip))
print(type(city))

<class 'float'>
<class 'str'>

In [10]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

In [11]:
print(x)
print(y)
print(z)

3
3
3.0

In [12]:
x = y= z = 'Apple'
print('x = ', x)
print('y = ', y)
print('z = ', z)

x =  Apple
y =  Apple
z =  Apple

In [13]:
# Create variables and run arithgmetic calculations
a = 4
b = 10
a + b

14

In [14]:
b-a

6

In [15]:
b*a

40

In [16]:
b/a

2.5

In [17]:
# You can assign values to an existing variables as part of an arithmetic operation
a = 5
b = 3
a = a + b
print(a)

8

In [18]:
# Boolean Values: True or false
print(10>9)
print(10 == 9)
print(10 < 9)

True
False
False

In [19]:
a = 200
b = 33

In [20]:
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [21]:
print(bool("Hello"))
print(bool(15))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool({}))
print(bool([]))

True
True
False
False
False
False
False
False
False

In [22]:
jan = 4.83
feb = 2.48
mar = 5.25
apr = 3.24
may =  6.38
june = 4.67
july = 4.19
aug = 3.34
sept = 2.00
octo = 4.18
nov = 1.58
dec = 2.21

In [23]:
jan = jan * 25.4

In [24]:
feb = feb * 25.4

In [25]:
mar = mar * 25.4

In [26]:
apr = apr * 25.4

In [27]:
may = may * 25.4

In [28]:
june = june * 25.4

In [29]:
july = july * 25.4

In [30]:
aug = aug * 25.4

In [31]:
sept = sept * 25.4

In [32]:
octo = octo * 25.4

In [33]:
nov = nov * 25.4

In [34]:
dec = dec * 25.4

In [35]:
print(jan)
print(feb)
print(mar)
print(apr)
print(may)
print(june)
print(july)
print(aug)
print(sept)
print(octo)
print(nov)
print(dec)

122.68199999999999
62.992
133.35
82.296
162.052
118.618
106.426
84.836
50.8
106.17199999999998
40.132
56.13399999999999

## Exercise 2

In [36]:
# lists can be a set of numbers  
dbh = [2,15,20,25] # in inch
print(dbh[3])
print(dbh[:])

25
[2, 15, 20, 25]

## Exercise 3

In [37]:
# list can be a set of strings
species = ['Longdon Planetree', 'HoneyLocust', 'Callery Pear', 'Oaks', 'Norway Maple']
print(species[-1])

Norway Maple

In [38]:
# list can be a mix of numbers and strings
tree = ['London Planetree', 26, 'HoneyLocust', 20, 'Callery Pear',  5, 'Oaks', 30, 'Norway Maple', 27]
print(tree[-2:])

['Norway Maple', 27]

In [39]:
# list.append(x)
# add an iten to the end of the list
species.append('Ginkgo')
print('append Ginkgo at the end:', species)

append Ginkgo at the end: ['Longdon Planetree', 'HoneyLocust', 'Callery Pear', 'Oaks', 'Norway Maple', 'Ginkgo']

In [40]:
# list.remove(x)
# remove the first item from the list whose value is equal to x. it raises a ValueEttor if ther is no such item.
species.remove('Ginkgo')
print('after remove Ginko:', species)

after remove Ginko: ['Longdon Planetree', 'HoneyLocust', 'Callery Pear', 'Oaks', 'Norway Maple']

In [41]:
species.append('Norway Spruce')
print('append species', species[-1])

append species Norway Spruce

In [42]:
# list.index(x[,start[,end]])
# Return to zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.
print('Index of Norway Maple', species.index('Norway Maple'))

Index of Norway Maple 4

In [43]:
# list.count(x)
# return the number of times x
print('Count of Oak trees:',species.count('Oak'))

# list.sort(*, key=None, reverse=False)
# sort the items of the list in place (the arguments can be used for sorted customization, see sorted() for their explanation)
species.sort()
print('sorted species:', species)

Count of Oak trees: 0
sorted species: ['Callery Pear', 'HoneyLocust', 'Longdon Planetree', 'Norway Maple', 'Norway Spruce', 'Oaks']

In [44]:
# list.count(x)
# reserve the elements of the list in place.
species.reverse()
print('Species Reversed:', species)

Species Reversed: ['Oaks', 'Norway Spruce', 'Norway Maple', 'Longdon Planetree', 'HoneyLocust', 'Callery Pear']

In [45]:
# list.copy()
# return a shallow copy of the list. Equivalent to a[:]
sp = species.copy()
print('copied species:', sp)

# list.clear()
# remove all items from the list. Equivalent to drl a[:]
sp.clear()
print('copies species after clear:', sp)

copied species: ['Oaks', 'Norway Spruce', 'Norway Maple', 'Longdon Planetree', 'HoneyLocust', 'Callery Pear']
copies species after clear: []

In [46]:
# a tuple is a collection which is ordered and unchangeable. A tuple consists of a number of values separated by commas
# Tuples are ordered, unchangeable, allow duplicates

t = (12345, 54321,'hello!')
print(t)

# join two tuples
t1 = (2, 4, 5)
print(t+t1)

u = t, (1,2,3)
print(u)

# Access Tuple Items
print(u[1])
print(u[-2])

(12345, 54321, 'hello!')
(12345, 54321, 'hello!', 2, 4, 5)
((12345, 54321, 'hello!'), (1, 2, 3))
(1, 2, 3)
(12345, 54321, 'hello!')

In [47]:
# One item tuple, add the comma in the end
thistuple = ("apple",)
print(type(thistuple))

# NOT a tuple
thistuple = ("apple")
print(type(thistuple))

# Multiply tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

<class 'tuple'>
<class 'str'>
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [48]:
# Sets are used to store multiple items in a single variable. A set is a collection which is bnothj unordered and unindexed.
# Sets are written with curly brackets

thiset = {'apple', 'banana', 'cherry'}
print(thiset)

# loop through set
for x in thiset:
    print(x)

# check if 'banana' is in the set
print('banana' in thiset)

# Duplicates not allowed
thiset = {'apple', 'banana', 'cherry', 'apple'}
print(thiset)

# get the length
print(len((thiset)))

# sets can be any types

set1 = {'abc', '34', True, 40, 'male'}
print(type(set1))

{'cherry', 'banana', 'apple'}
cherry
banana
apple
True
{'cherry', 'banana', 'apple'}
3
<class 'set'>

In [49]:
# loop through the set, and print the values:
for x in thiset:
    print(x)
    
# add() and remove() items
thiset.add('orange')
print(thiset)

thiset.remove('apple')
print(thiset)

cherry
banana
apple
{'cherry', 'banana', 'apple', 'orange'}
{'cherry', 'banana', 'orange'}

In [50]:
# join sets using union() or update()
set1 = {'apple', 'banana', 'cherry', 'apple'}
print(set1)
set2 = {'orange', 'kiwi', 'apple'}
print(set2)
set3 = set1.union(set2)
print(set1)
print(set3)
set1.update(set2)
print(set1)

{'cherry', 'banana', 'apple'}
{'kiwi', 'orange', 'apple'}
{'cherry', 'banana', 'apple'}
{'banana', 'kiwi', 'cherry', 'orange', 'apple'}
{'banana', 'kiwi', 'cherry', 'orange', 'apple'}

In [51]:
# Keep only the duplicates using the intersection_update() method
set1 = {'apple','bananae','cherry','apple'}
print(set1)
set2 = {'orange','kiwi','apple'}
print(set2)

set3 = set1.intersection(set2)
print(set1)
print(set3)

set1.intersection_update(set2)
print(set1)

{'bananae', 'cherry', 'apple'}
{'kiwi', 'orange', 'apple'}
{'bananae', 'cherry', 'apple'}
{'apple'}
{'apple'}

In [52]:
# keep all but not the duplicates using the symmetric_difference_update() method, will only keep the elements that are not present in both sets
set1 = {'apple','banana','cherry','apple'}
print(set1)
set2 = {'orange','kiwi','apple'}
print(set2)
set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'apple'}
{'kiwi', 'orange', 'apple'}
{'kiwi', 'cherry', 'orange', 'banana'}

In [53]:
# Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable, and does not allow for duplicates.
car = {
    'brand': 'Ford',
    'model': 'Mustang',
    'year': 1964
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [54]:
# data type
print(type(car))

# add items
car['color'] = 'blue'
print(car)

# Get the value of the "model" key:
x = car['model']
print(x)

# or use get()
x = car.get('model')

<class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}
Mustang

In [55]:
# change values
x = car.values()
print(x) # before the change
car["color"] = "red"
print(x)

dict_values(['Ford', 'Mustang', 1964, 'blue'])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [56]:
# exercise 2 - identify and correct the errors in the following code cell
# list can be a set of numbers
dbh = [2,15,20,26] # in inches
print(dbh[3])  # comma separating list values 20 and 26

# list can be a set of strings
species = ['London Planetree','HoneyLocust','Callery Pear','Oaks','Norway Maple']
print(species[-1]) # Double quote opening for HoneyLocust

# list can be a mix of numbers and strings
tree = ['London Planetree',26,'HoneyLocust',20,'Callery Pear',5,'Oaks',30,'Norway Maple',27]
print(tree[-2:])

26
Norway Maple
['Norway Maple', 27]

In [57]:
# exercise 3 - find the most popular tree species in Staten Island in 1995, 2005, and 2015
species1995 = {'Silver Maple','Red Maple','Callery Pear','London Planetree','Norway Maple'}
species2005 = {'Pin Oak','Norway Maple','Red Maple','London Planetree','Callery Pear'}
species2015 = {'Cherry','Pin Oak','Red Maple','London Planetree','Callery Pear'}

species2005.intersection_update(species1995)
print(species2005)

species2005.intersection_update(species2015)
print(species2005)

{'Norway Maple', 'Callery Pear', 'Red Maple', 'London Planetree'}
{'Callery Pear', 'Red Maple', 'London Planetree'}

In [58]:
# control flow tools - if statements
# create a variable x with the value of 5
x = 5

# compare the value of x to 0 and 10 and print a message
if x <= 0:
    print('x has a value of',x,'which is <= 0')
elif x <= 10:
    print('x has a value of',x,'which is between (0 10)')
else:
    print('x has a value of',x,'which is not less than 10')

x has a value of 5 which is between (0 10)

In [59]:
# create a variablew x with the value of 25
x = 25

# compare the value of x to 35 and print a message depending on the outcome of the comparison
if x == 35:
    print('x has a value of',x,'which is equal to 35')
else:
    print('x has a value of',x,'which is not equal to 35')

x has a value of 25 which is not equal to 35

In [60]:
x = 25

if x != 35:
    x += 15
    print(x)
else:
    print(x)

40

In [61]:
species = ['London Planetree', 'HoneyLocust', 'Callery Pear', 'Oak','Norway Maple' ]
# check if the text string "Oak" is contained within the species list
if 'Oak' in species:
    print('Oak is one of the most popular NYC tree species')
else:
    print('Oak is not one of the most popular NYC tree species')

Oak is one of the most popular NYC tree species

## Exercise 4

In [62]:
# exercise 4 - fix the errors in the code
species = ['London Planetree', 'HoneyLocust', 'Callery Pear', 'Oak','Norway Maple' ]
# check if the text string "Oak" in contained within the species list
if 'Oak' in species: # colon did not follow list
    print('Oak is one of the most NYV popular tree species') # open parenthesis
else:
    print('Oak is not one of the most NYV popular tree species') # double quote at end of text string

Oak is one of the most NYV popular tree species

## Exercise 5

In [63]:
# control flow tools - loop statements
# in python, there are two primary structures for loops: while and for
# a while loop is used to iteratively execute code until a certain condition is met

x = 0

# as long as the value of 'x' is less than '10'
# interatively print the value of x and then add '1' to the current value of 'x'
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [64]:
# print your answer in one line
# end can be used to avoid the newline after the output, or end the output with a different string
a,b = 0, 1
while a < 100:
    print(a, end=' ')
    a,b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89

In [65]:
x = 1

# as long as the value of 'x' within a range of '1' to '4', as the range is not inclusive of '5'
# iteratively print the value of x and then add '1' to the current value of 'x'
while x in range(1,5):
    print(x)
    x += 1

1
2
3
4

In [66]:
# for loop
numlist = [5, 10, 15, 20]

#  for each item in 'numlist', print the item's value
for x in numlist:
    print(x)

5
10
15
20

In [67]:
# create a list of text strings of filenames
filelist = ['filename1.txt', 'filename2.txt']

# for each item in 'filelist', print the item's value
for filename in filelist:
    print(filename)

filename1.txt
filename2.txt

In [68]:
# the range() function
# if you do not need to interate over a sequence of numbers, the built-in function range() comes ion handy.
# it generates arithmetic progressions:

for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
x = 3

while x < 15:
    print(x)
    x += 1

3
4
5
6
7
8
9
10
11
12
13
14

In [70]:
fruit = ['apples','oranges','cherries']

for i in fruit:
    print(fruit)

['apples', 'oranges', 'cherries']
['apples', 'oranges', 'cherries']
['apples', 'oranges', 'cherries']

In [71]:
# create a list  of monthly precipitation
p = [0.70, 0.75, 1.85, 2.93, 3.05, 2.02, 1.93, 1.62, 1.84, 1.31, 1.39, 0.84]

for i in p:
    print(i*25.4)

17.779999999999998
19.049999999999997
46.99
74.422
77.46999999999998
51.308
49.022
41.148
46.736
33.274
35.306
21.336

## Exercise 6-7

In [72]:
x = 0

while x < 1000000:
    print(x)
    x += 100000

0
100000
200000
300000
400000
500000
600000
700000
800000
900000

## Exercise 8-9

In [73]:
precip = [3.49, 2.46, 1.32, 8.02]
precip += [6.43]
precip

[3.49, 2.46, 1.32, 8.02, 6.43]