<br> Radley Ciego </br>
<br> GTECH 78518: Environmental Data Science </br>
<br> October 25, 2022 </br>
<br> Homework #4 </br>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Read the tree census data
tree15 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2015_Street_Tree_Census.csv')
tree05 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2005_Street_Tree_Census.csv')
tree95 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/1995_Street_Tree_Census.csv')

/var/folders/ff/9n9lg70d5d79jcc1pfmzhbsc0000gn/T/ipykernel_2174/223033372.py:3: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  tree05 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2005_Street_Tree_Census.csv')

In [4]:
# View data type for each column
tree05.dtypes

OBJECTID          int64
cen_year          int64
tree_dbh          int64
address          object
tree_loc         object
pit_type         object
soil_lvl         object
status           object
spc_latin        object
spc_common       object
vert_other       object
vert_pgrd        object
vert_tgrd        object
vert_wall        object
horz_blck        object
horz_grate       object
horz_plant       object
horz_other       object
sidw_crack       object
sidw_raise       object
wire_htap        object
wire_prime       object
wire_2nd         object
wire_other       object
inf_canopy       object
inf_guard        object
inf_wires        object
inf_paving       object
inf_outlet       object
inf_shoes        object
inf_lights       object
inf_other        object
trunk_dmg        object
zipcode           int64
zip_city         object
cb_num            int64
borocode          int64
boroname         object
cncldist          int64
st_assem          int64
st_senate         int64
nta              object
nta_name         object
boro_ct         float64
state            object
latitude        float64
longitude       float64
x_sp              int64
y_sp              int64
objectid_1        int64
census tract    float64
bin             float64
bbl             float64
Location 1       object
dtype: object

### Question 1: How many trees in each borough for years 2015, 2005, 1995?

In [5]:
tree15.groupby(['borough'])['tree_id'].count()

borough
Bronx             85203
Brooklyn         177293
Manhattan         65423
Queens           250551
Staten Island    105318
Name: tree_id, dtype: int64

In [6]:
tree05.groupby(['boroname'])['OBJECTID'].count()

boroname
5             84468
5             15233
Bronx         59925
Brooklyn     142852
Manhattan     49886
Queens       240008
Name: OBJECTID, dtype: int64

In [7]:
tree95.groupby(['Borough'])['RecordId'].count()

Borough
Bronx             48487
Brooklyn         117101
Manhattan         47215
Queens           227552
Staten Island     76634
Name: RecordId, dtype: int64

### Question 2: Identify the number of tree species and the corresponding tree count for each species

In [8]:
tree15.groupby(['spc_common'])['tree_id'].count()

spc_common
'Schubert' chokecherry    4888
American beech             273
American elm              7975
American hophornbeam      1081
American hornbeam         1517
                          ...
weeping willow             282
white ash                 1121
white oak                 1686
white pine                 202
willow oak                3184
Name: tree_id, Length: 132, dtype: int64