<br> Radley Ciego </br>
<br> GTECH 78518: Environmental Data Science </br>
<br> October 25, 2022 </br>
<br> Homework #4 </br>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# read the tree census data
tree15 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2015_Street_Tree_Census.csv')
tree05 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2005_Street_Tree_Census.csv')
tree95 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/1995_Street_Tree_Census.csv')

/var/folders/ff/9n9lg70d5d79jcc1pfmzhbsc0000gn/T/ipykernel_2045/223033372.py:3: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  tree05 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2005_Street_Tree_Census.csv')

### Exploratory Data Analysis

In [30]:
# subset dataframe to include only relevant columns
tree15 = tree15[['tree_id','borough','spc_common','spc_latin']]
tree15

,tree_id,borough,spc_common,spc_latin
0,180683,Queens,red maple,Acer rubrum
1,200540,Queens,pin oak,Quercus palustris
2,204026,Brooklyn,honeylocust,Gleditsia triacanthos var. inermis
3,204337,Brooklyn,honeylocust,Gleditsia triacanthos var. inermis
4,189565,Brooklyn,American linden,Tilia americana
...,...,...,...,...
683783,155433,Brooklyn,pin oak,Quercus palustris
683784,183795,Queens,Kentucky yellowwood,Cladrastis kentukea
683785,166161,Staten Island,red maple,Acer rubrum
683786,184028,Bronx,red maple,Acer rubrum
683787,200607,Queens,red maple,Acer rubrum

In [31]:
tree05 = tree05[['OBJECTID','boroname','spc_common','spc_latin']]
tree05

,OBJECTID,boroname,spc_common,spc_latin
0,592373,Brooklyn,"PEAR, CALLERY",PYRUS CALLERYANA
1,592374,Brooklyn,LONDON PLANETREE,PLATANUS ACERIFOLIA
2,592375,Brooklyn,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING
3,592376,Brooklyn,LONDON PLANETREE,PLATANUS ACERIFOLIA
4,592377,Brooklyn,LONDON PLANETREE,PLATANUS ACERIFOLIA
...,...,...,...,...
592367,1184740,Staten Island,LONDON PLANETREE,PLATANUS ACERIFOLIA
592368,1184741,Staten Island,"MAPLE, SILVER",ACER SACCHARINUM
592369,1184742,Staten Island,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING
592370,1184743,Staten Island,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING
592371,1184744,Staten Island,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING

In [32]:
tree95 = tree95[['RecordId','Borough','Spc_Common','Spc_Latin']]
tree95

        RecordId        Borough        Spc_Common            Spc_Latin
0              1      Manhattan  LONDON PLANETREE  PLATANUS ACERIFOLIA
1              2      Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
2              3      Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
3              4      Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
4              5      Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
...          ...            ...               ...                  ...
516984    516787  Staten Island     PEAR, CALLERY     PYRUS CALLERYANA
516985    516788  Staten Island     PEAR, CALLERY     PYRUS CALLERYANA
516986    516966  Staten Island     PEAR, CALLERY     PYRUS CALLERYANA
516987    516967  Staten Island     PEAR, CALLERY     PYRUS CALLERYANA
516988    516968  Staten Island     PEAR, CALLERY     PYRUS CALLERYANA

[516989 rows x 4 columns]

In [39]:
# rename columns
tree15.columns = ['id','borough','spc_common','spc_latin']

In [40]:
tree05.columns = ['id','borough','spc_common','spc_latin']
tree05

,id,borough,spc_common,spc_latin
0,592373,Brooklyn,"PEAR, CALLERY",PYRUS CALLERYANA
1,592374,Brooklyn,LONDON PLANETREE,PLATANUS ACERIFOLIA
2,592375,Brooklyn,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING
3,592376,Brooklyn,LONDON PLANETREE,PLATANUS ACERIFOLIA
4,592377,Brooklyn,LONDON PLANETREE,PLATANUS ACERIFOLIA
...,...,...,...,...
592367,1184740,Staten Island,LONDON PLANETREE,PLATANUS ACERIFOLIA
592368,1184741,Staten Island,"MAPLE, SILVER",ACER SACCHARINUM
592369,1184742,Staten Island,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING
592370,1184743,Staten Island,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING
592371,1184744,Staten Island,"MAPLE, NORWAY-CR KNG",ACER PLATANOIDES CRIMSON KING

In [41]:
tree95.columns = ['id','borough','spc_common','spc_latin']

In [36]:
# identify the value count of the borough column
tree15["borough"].value_counts()

Queens           250551
Brooklyn         177293
Staten Island    105318
Bronx             85203
Manhattan         65423
Name: borough, dtype: int64

In [42]:
tree05["borough"].value_counts()

Queens           240008
Brooklyn         142852
Staten Island     99701
Bronx             59925
Manhattan         49886
Name: borough, dtype: int64

In [43]:
tree95["borough"].value_counts()

Queens           227552
Brooklyn         117101
Staten Island     76634
Bronx             48487
Manhattan         47215
Name: borough, dtype: int64

In [45]:
# replace 5 values with Staten Island
tree05["borough"].replace({"5":"Staten Island",5:"Staten Island"}, inplace = True)

In [ ]:
# Check for invalid values

### Question 1: How many trees in each borough for years 2015, 2005, 1995?

In [20]:
tree15.groupby(['borough'])['id'].count()

borough
Bronx             85203
Brooklyn         177293
Manhattan         65423
Queens           250551
Staten Island    105318
Name: tree_id, dtype: int64

In [21]:
tree05.groupby(['borough'])['id'].count()

boroname
Bronx             59925
Brooklyn         142852
Manhattan         49886
Queens           240008
Staten Island     99701
Name: OBJECTID, dtype: int64

In [10]:
tree05.groupby(['borough'])['id'].count()

boroname
Bronx             59925
Brooklyn         142852
Manhattan         49886
Queens           240008
Staten Island     99701
Name: OBJECTID, dtype: int64

In [6]:
tree95.groupby(['borough'])['id'].count()

Borough
Bronx             48487
Brooklyn         117101
Manhattan         47215
Queens           227552
Staten Island     76634
Name: RecordId, dtype: int64

### Question 2: Identify the number of tree species and the corresponding tree count for each species in Manhattan

In [50]:
# subset dataframes for Manhattan
m15 = tree15.loc[tree15['borough'] == 'Manhattan']
m15

            id    borough       spc_common                           spc_latin
5       190422  Manhattan      honeylocust  Gleditsia triacanthos var. inermis
6       190426  Manhattan      honeylocust  Gleditsia triacanthos var. inermis
7       208649  Manhattan  American linden                     Tilia americana
21      193310  Manhattan      honeylocust  Gleditsia triacanthos var. inermis
22      199760  Manhattan       willow oak                     Quercus phellos
...        ...        ...              ...                                 ...
683756  208765  Manhattan      honeylocust  Gleditsia triacanthos var. inermis
683764  170513  Manhattan      honeylocust  Gleditsia triacanthos var. inermis
683768  190040  Manhattan      honeylocust  Gleditsia triacanthos var. inermis
683773  191269  Manhattan           ginkgo                       Ginkgo biloba
683775  192812  Manhattan          pin oak                   Quercus palustris

[65423 rows x 4 columns]

In [52]:
m05 = tree05.loc[tree05['borough'] == 'Manhattan']
m05

           id    borough           spc_common              spc_latin
17     592390  Manhattan          HONEYLOCUST  GLEDITSIA TRIACANTHOS
18     592391  Manhattan  LINDEN, LITTLE LEAF          TILIA CORDATA
19     592392  Manhattan          HONEYLOCUST  GLEDITSIA TRIACANTHOS
20     592393  Manhattan        PEAR, CALLERY       PYRUS CALLERYANA
21     592394  Manhattan        PEAR, CALLERY       PYRUS CALLERYANA
...       ...        ...                  ...                    ...
49898  642268  Manhattan    OAK, NORTHERN RED          QUERCUS RUBRA
49899  642269  Manhattan    OAK, NORTHERN RED          QUERCUS RUBRA
49900  642270  Manhattan          HONEYLOCUST  GLEDITSIA TRIACANTHOS
49901  642271  Manhattan          MAPLE, AMUR           ACER GINNALA
49902  642272  Manhattan               GINKGO          GINKGO BILOBA

[49886 rows x 4 columns]

In [53]:
m95 = tree95.loc[tree95['borough'] == 'Manhattan']
m95

           id    borough        spc_common            spc_latin
0           1  Manhattan  LONDON PLANETREE  PLATANUS ACERIFOLIA
1           2  Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
2           3  Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
3           4  Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
4           5  Manhattan     MAPLE, NORWAY     ACER PLATANOIDES
...       ...        ...               ...                  ...
495561  47211  Manhattan          OAK, PIN    QUERCUS PALUSTRIS
495562  47212  Manhattan          OAK, PIN    QUERCUS PALUSTRIS
495563  47213  Manhattan          OAK, PIN    QUERCUS PALUSTRIS
495564  47214  Manhattan          OAK, PIN    QUERCUS PALUSTRIS
495565  47215  Manhattan          OAK, PIN    QUERCUS PALUSTRIS

[47215 rows x 4 columns]

In [51]:
m15.groupby(['spc_common'])['id'].count()

spc_common
'Schubert' chokecherry     163
American beech              22
American elm              1698
American hophornbeam        84
American hornbeam           85
                          ...
weeping willow              12
white ash                   50
white oak                  241
white pine                   1
willow oak                 889
Name: id, Length: 128, dtype: int64

In [54]:
m05.groupby(['spc_common'])['id'].count()

spc_common
APPLE                    31
ARBORVITAE, EASTERN       1
ASH, GREEN              912
ASH, OTHER                6
ASH, WHITE                2
                       ...
UNKNOWN                1078
Unknown Dead            556
WILLOW SPECIES            3
YELLOWOOD                 1
ZELKOVA, JAPANESE      2016
Name: id, Length: 91, dtype: int64

In [55]:
m95.groupby(['spc_common'])['id'].count()

spc_common
ALDER, EUROPEAN          13
AMUR CORKTREE             1
APPLE                   275
ARBORVITAE, AMERICAN      1
ARBORVITAE, WESTERN       2
                       ...
UNKNOWN SHAFT            22
UNKNOWN STUMP           519
WILLOW SPECIES           14
YEW                       3
ZELKOVA, JAPANESE       816
Name: id, Length: 85, dtype: int64