<br> Radley Ciego </br>
<br> GTECH 78518: Environmental Data Science </br>
<br> Homework #4 </br>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Read the tree census data
tree15 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2015_Street_Tree_Census.csv')
tree05 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2005_Street_Tree_Census.csv')
tree95 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/1995_Street_Tree_Census.csv')

/var/folders/ff/9n9lg70d5d79jcc1pfmzhbsc0000gn/T/ipykernel_5000/223033372.py:3: DtypeWarning: Columns (37) have mixed types. Specify dtype option on import or set low_memory=False.
  tree05 = pd.read_csv('http://www.geography.hunter.cuny.edu/~wenge/EDS2022F/data/NYCtree/2005_Street_Tree_Census.csv')

In [6]:
# View data type for each column
tree05.dtypes

OBJECTID          int64
cen_year          int64
tree_dbh          int64
address          object
tree_loc         object
pit_type         object
soil_lvl         object
status           object
spc_latin        object
spc_common       object
vert_other       object
vert_pgrd        object
vert_tgrd        object
vert_wall        object
horz_blck        object
horz_grate       object
horz_plant       object
horz_other       object
sidw_crack       object
sidw_raise       object
wire_htap        object
wire_prime       object
wire_2nd         object
wire_other       object
inf_canopy       object
inf_guard        object
inf_wires        object
inf_paving       object
inf_outlet       object
inf_shoes        object
inf_lights       object
inf_other        object
trunk_dmg        object
zipcode           int64
zip_city         object
cb_num            int64
borocode          int64
boroname         object
cncldist          int64
st_assem          int64
st_senate         int64
nta              object
nta_name         object
boro_ct         float64
state            object
latitude        float64
longitude       float64
x_sp              int64
y_sp              int64
objectid_1        int64
census tract    float64
bin             float64
bbl             float64
Location 1       object
dtype: object

### Question 1: How many trees in each borough for years 2015, 2005, 1995?

In [10]:
tree15.groupby(['borough']).count()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
borough,,,,,,,,,,,,,,,,,,,,,
Bronx,85203,85203,85203,85203,85203,85203,85203,80585,80584,80584,...,85203,85203,85203,85203,85203,85203,84266,84266,83825,83825
Brooklyn,177293,177293,177293,177293,177293,177293,177293,169744,169744,169744,...,177293,177293,177293,177293,177293,177293,176788,176788,176191,176191
Manhattan,65423,65423,65423,65423,65423,65423,65423,62427,62428,62428,...,65423,65423,65423,65423,65423,65423,63616,63616,63301,63301
Queens,250551,250551,250551,250551,250551,250551,250551,237974,237970,237970,...,250551,250551,250551,250551,250551,250551,247923,247923,246777,246777
Staten Island,105318,105318,105318,105318,105318,105318,105318,101442,101443,101443,...,105318,105318,105318,105318,105318,105318,104676,104676,104135,104135